

.table tbody {
    background-color: #f0f0f0 !important; 
  }
  
  .table tbody tr {
    border-bottom: 1px solid #EBEBEB !important; 
    background: #FFF !important; 
  }
  
  .table tbody tr:hover {
    background-color: #e0e0e0; 
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    background: none !important;
    color: inherit !important; 
}
.table-striped>tbody>tr:nth-of-type(odd) {
    color: var(--bs-table-striped-color);
}
.mySelect{
  padding: 13px !important;
}
