input {
    display: flex;
    height: 52px;
    padding: 8px 16px;
    padding-left: 50px; 
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px !important;
    border: 1px solid #C0C0C0 !important;
}.input-invalid {
    border: 2px solid red; 
}
