.bg{
    border-radius: 16px !important;
background: #FFF;

}


.table tbody {
    background-color: #f0f0f0 !important; /* لون رمادي فاتح */
  }
  
  .table tbody tr {
    border-bottom: 1px solid #EBEBEB !important; /* حد سفلي لكل صف */
    background: #FFF !important; /* خلفية بيضاء للصفوف */
  }
  
  /* لتغيير الخلفية عند التحويم */
  .table tbody tr:hover {
    background-color: #e0e0e0; /* لون رمادي داكن عند التحويم */
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    background: none !important; /* لإلغاء الخلفية */
    color: inherit !important; /* لإرجاع اللون إلى الافتراضي */
}
.table-striped>tbody>tr:nth-of-type(odd) {
    color: var(--bs-table-striped-color);
}
